{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
   <h1>Formulaire</h1>
        {{ form(form) }}
    </div>

{% endblock %}

{% block title %}
    Editer une personne
{% endblock %}
